@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root{
  --rosa: ##ff0067;
}

/*Estilo da página index.html*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#141e30, #243b55);
  }

.center{
    color: #fff;
  text-align: center;
  margin-top: 2vw;
  
}

.centergame{
  color: #fff;
  text-align: center;
  margin-top: 2vw;
  font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
}

.justify{
    text-align: justify;
}


.container{
    font-size: 1rem;
    color: aliceblue;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 5vw;
}

.menu{
    width: 100;
    height: 4vw;

}

nav {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
    padding-top: 1rem;
  }
  
nav p {
    font-size: 1.5rem;
    font-weight: 800;
    color:#fff;
    font-family: 'Press Start 2P', cursive;
 }

 nav p span {
    color: #ff0067;
  }

.centerwd{
    text-align: center;
    width: 500px;
    font-size: 18px;
    color: #fff;
    padding-top: 2vw;
}

/* .menu{
    text-align: end;
} */

.menu li {
    display: inline;
    padding: 15px;
    text-decoration: none;
}

.menu li a {
    position: relative;
    display: inline-block;
    padding: 1vw 1vw;
    color: #ff0067;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
    letter-spacing: 4px

}

.style-two{
  width: 100%;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.menu li a:hover {
    background: #ff0067;
    color: #03e9f4;
    border-radius: 5px;
    box-shadow: 0 0 5px #ff0067,
                0 0 25px #ff0067,
                0 0 50px #ff0067,
                0 0 100px #ff0067;
  }

.texto{
    padding: 30px;
}

.imagem{
    width: 320px;
    height: 300px;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid rgb(224, 173, 30);
  }

.icon{
    width: 30px;
    height: 30px;
    margin: 0 20px;
    margin-top: 50px;
}

.flavia{
    width: 100%;
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
}

/*Página do contato*/
main {
 
    width: 100vw;
    min-height: 80vh;
    justify-content:space-around;
    align-items: flex-end;
}

h1,
h2 {
  font-size: 3rem;
  text-align: justify;
  color: #fff;
  font-weight: 700;
}

.contato {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    color: #fff;
  }

h2 {
  font-size: 2rem;
}

.endereco h2 {
    font-size: 1.5rem;
  }
  
  
  .login-box {
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    width: 30vw;
    padding: 2vw;
    height: 71vh;
    /* transform: translate(-50%, -50%); */
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }
  
  
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 25vw;
    padding: 10px 0;
    font-size: 1rem;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }

  .contact-me{
    padding-bottom: 2vw;
  }

  .login-box .user-box textarea {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    resize: none;
  }

  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .footer{
    margin: 2rem;
    display: flex;
    align-items: center;
  }

  .footer p{
    align-items: center;
  }

  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #ff0067;
    font-size: 12px;
  }

  .login-box .user-box textarea:focus ~ label,
  .login-box .user-box textarea:valid ~ label {
    top: -20px;
    left: 0;
    color: #ff0067;
    font-size: 12px;
  }
  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #ff0067;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .login-box a:hover {
    background: #ff0067;
    color: #03e9f4;
    border-radius: 5px;
    box-shadow: 0 0 5px #ff0067,
                0 0 25px #ff0067,
                0 0 50px #ff0067,
                0 0 100px #ff0067;
  }
  
  .login-box a span {
    position: absolute;
    display: block;
  }
  
  .login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ff0067);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #ff0067);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }
  
.mapa {
    width: 100%;
    aspect-ratio: 16/12;
    border-radius: 8px;
    border: 3px solid #03e9f4;
  }

  .endereco {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }